@{
    ViewData["Title"] = "Home Page";
}

<div class="" style="position:relative;height:100%;">
    <div style="height:80vh;">
        <img class="" style="width:100%;height:100%;object-fit:cover"
            src="images\pexels-tima-miroshnichenko-7567434.jpg" alt="Man banking" />
    </div>
    
    <div style="position: absolute; top:0; width: 100%; height: 100%; background-color: black; opacity: 40%;"></div>
    
    <div style="position: absolute; bottom: 0;  margin-bottom: 12rem; padding-left: 4rem; font-weight: bold; ">
        <div class="" style="">
            <h1 style="color: white; font-size: 36pt;">Welcome to Bank</h1>
            <h4 style="color: white; margin-bottom: 1.5rem; font-style: italic;">Safe Banking. Instant Loan</h4>
            <div>
                <a asp-action="Create" asp-controller="User" class="btn btn-success btn-md px-4">Apply for a Loan</a>
            </div>
        </div>
    </div>
</div>

<div class="container-sm">
    <div class="px-4 py-5 my-4 text-center" >
        <h1 class="d-sm-flex justify-content-sm-center"  style="font-size: xx-large;">Reliable Banking</h1>
        <div class="col-md mx-auto my-4">
            <p class="" style="font-size: medium;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae tincidunt eros, nec fringilla tortor. 
                Morbi vel congue erat, in porta est. Pellentesque faucibus ac ex sit amet dapibus.
                Aenean vel magna varius, porttitor mauris vitae, euismod metus. 
                Curabitur neque enim, pretium et orci nec, consequat rutrum massa. Duis tempor egestas orci non feugiat. 
                Donec lobortis purus sem, eget varius ligula scelerisque et. 
                Sed magna orci, egestas ac tempor vel, dignissim id nibh.
            </p>
        </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center px-2 py-2">
            <button type="button"  class="btn btn-success btn-lg px-5 gx-5">Get Started</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-5">Login</button>
        </div>
    </div>
</div>

<div class="bg-dark border border-dark-subtle shadow px-3 py-6 mb-5 bg-body-tertiary rounded">
    <div class="container px-5 py-5">
        <div class="row align-items-center">
            <div class="col-md mb-3 mx-3">
                <div class="card h-100 border border-dark-subtle" style="width: 90%;">
                    <img src="https://placehold.co/400" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title px-3"> Product One</h5>
                        <p class="card-text px-3">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md mb-3 mx-3">
                <div class="card h-100 border border-dark-subtle" style="width: 90%;">
                    <img src="https://placehold.co/400" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title px-3"> Product Two</h5>
                        <p class="card-text px-3">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md mb-3 mx-3">
                <div class="card h-100 border border-dark-subtle" style="width: 90%;">
                    <img src="https://placehold.co/400" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title px-3"> Product Three</h5>
                        <p class="card-text px-3">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container col-md-8 px-4 py-2 ">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-2">
        <div class="col-lg-6">
            <img src="images/pexels-anna-nekrashevich-6802049-removebg-preview (1).png" 
            class="d-block mx-lg-auto img-fluid" 
            alt="hand-hold-phone" width="700" height="500" loading="lazy" style="object-fit: cover; padding-left: 2;">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold 1h-1 mb-3">
                Banking You Can Trust
            </h1>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </p>
            <div class="d-grid gap-2 py-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-success btn-lg px-4 me-md-2">Contact Us</button>
            </div>
        </div>
    </div>
</div>

<div class="row bg-dark text-white" style="background-color: darkslateblue;">
    <div class="col-md py-5">
        <h1 class="display-5 fw-bold text-center">Ready To Get Started ?</h1>
        <p class="text-center">Enter your email address to get a detailed package on how to start.</p>
        <div style="text-align:center;">
            <input type="email" name="email" id="email" /> <input type="submit" value="Submit" />
        </div>
    </div>
</div>