@{
    ViewData["Title"] = "Login";
}

<div>
    <div class="container" style="border: 4px; dark;">
        <h2>Login</h2>
        <p>&nbsp;</p>
        
        <div class="container">
             <div class="col-sm d-flex justify-content-center">
                <div class="row col-sm-6">
                    <form id="LoginForm" method="post" asp-controller="Users" asp-action="">
                        <div class="form-group">
                            <label> Username <input type="text" name="UserName"></label>
                            <label> Password <input type="text" value=""></label>
                            <input type="button" value="">
                        </div>
                    </form>
                </div>
             </div>
        </div>
    </div>
</div>